# directories for temporary storage / user customisation
elmv3.sif
out/*
scripts/
temp/*
plots/
UQ_output/
srcmods*
run_logs_archive/
pklfiles/
runscripts/archive
runscripts/multisite
config_files/*

# files to retain in directories to otherwise ignore (e.g. example files)
!temp/.gitkeep    # retains an empty directory 
!config_files/BGC_site.cfg
!config_files/Marcell_S2_diag50hydro.cfg
!config_files/Marcell_S2_diag50hydro_regwt.cfg

# files created by OLMT executions
run.*
*.pyc
*.run.o*
slurm-*.out
mcsamples*.txt
create_newcase.log

# user defined files
