[machine]
machine_name = pathfinder
modelroot = /projects/hpcl-cli185/proj-shared/zdr/E3SM-Peatlands
caseroot = /scratch/hpcl-cli185/zdr/e3sm_cases
runroot = /scratch/hpcl-cli185/zdr/e3sm_run
inputdata = /projects/hpcl-cli185/world-shared/e3sm/inputdata
#apptainer = /projects/hpcl-cli185/proj-shared/zdr/elm-olmt/elmv3.sif

walltime = 3

[simulation]
runtype = site
case_suffix = test2 

# Site-specific options
sites = US-MOz
sitegroup = AmeriFlux
res = hcru_hcru
mettype = site
use_cpl_bypass = True

[biogeochemistry]
nutrients = CNP
nutrient_comp = RD
soil_decomp = CTC

[run_lengths]
nyears_ad = 200
nyears_final = 200
nyears_trans = 165
trans_startyear = 1850
resubmit_years = 100

[case_options]
use_nofire = .true.
create_crop_landunit = .false.

#Comment out below or remove if not running ensembles/UQ
[ensemble]
parm_list   = parm_list
nsamples    = 1000
#Note:  baseline is restricted to 500 parallel jobs
np_ensemble = 500
#finidat_root = /gpfs/wolf2/cades/cli185/proj-shared/zdr/e3sm_run/UQ/ensembles/20260309_US-MOz_ICB1850CNRDCTCBC_ad_spinup_test1

[postprocessing]
variables = GPP, EFLX_LH_TOT, FSH, TLAI
startyear = 1850
endyear   = 1890
frequency = annual  

# Fluxnet observations for calibration
#[observations]
#location = /projects/hpcl-cli185/proj-shared//fluxnet
#variables = GPP, EFLX_LH_TOT
