[machine]
machine_name = pathfinder
#modelroot = /projects/hpcl-cli185/proj-shared/zdr/E3SM-Peatlands
modelroot = /projects/hpcl-cli185/proj-shared/zdr/E3SM-ORNL
#exeroot = /projects/hpcl-cli185/users/zdr/e3sm_run/20260515_CONUS_ICB1850CNRDCTCBC_ad_spinup/bld

[simulation]
runtype = latlon_bbox
name = CONUS

lon_bounds = -125.5,-66
lat_bounds = 23,50
res = f09_f09
numproc = 420

mettype = trendy
use_cpl_bypass = True
metdir = /projects/hpcl-cli185/world-shared/e3sm/inputdata/atm/datm7/atm_forcing.CRUJRA_trendy_2025/cpl_bypass_full/

[biogeochemistry]
nutrients = CNP
nutrient_comp = RD
soil_decomp = CTC

[run_lengths]
nyears_ad = 200
nyears_final = 400
nyears_trans = 164
trans_startyear = 1850

