[machine]

machine_name = pathfinder
# Set the following if you don't want to use machine defaults
modelroot = /projects/hpcl-cli185/proj-shared/zdr/E3SM-Peatlands
#inputdata = /inputdata
#exeroot =/output/e3sm_run/20260326_NGEEsite_ICB1850CNRDCTCBC_ad_spinup/bld

[simulation]
runtype = latlon_bbox
name = NGEEsite
lon_bounds = -163.5,-163
lat_bounds = 61,61.5
res = hcru_hcru
numproc = 1
mettype = crujra
metdir = %(inputdata)s/atm/datm7/atm_forcing.CRUJRA_trendy_2025/cpl_bypass_full/ 
use_cpl_bypass = True

[biogeochemistry]
nutrients = CNP
nutrient_comp = RD
soil_decomp = CTC

[run_lengths]
nyears_ad = 200
nyears_final = 200
nyears_trans = 164
trans_startyear = 1850

[case_options]
create_crop_landunit = .true.
paramfile = %(inputdata)s/lnd/clm2/paramdata/clm_params_ngeea-im3_c240822.nc
use_IM2_hillslope_hydrology = .true.
use_atm_downscaling_to_topunit = .false.
surffile_global = %(inputdata)s/lnd/clm2/surfdata_map/topounit_surfdata_0.5x0.5_simyr1850.c20220204_cavm1d.nc
domainfile_global = %(inputdata)s/share/domains/domain.clm/domain.lnd.r05_RRSwISC6to18E3r5.240328_cavm1d_toposafe.nc


[postprocessing]
variables = GPP, EFLX_LH_TOT, FSH, TLAI
startyear = 2000
endyear   = 2010
frequency = annual  

