[machine]
machine_name = pathfinder
modelroot = /projects/hpcl-cli185/proj-shared/zdr/E3SM-Peatlands
caseroot = /projects/hpcl-cli185/proj-shared/zdr/e3sm_cases
runroot = /projects/hpcl-cli185/proj-shared/zdr/e3sm_run
inputdata = /projects/hpcl-cli185/world-shared/e3sm/inputdata

[simulation]
runtype = site
case_suffix = ERA5

# Site-specific options
sites = US-SPR
sitegroup = AmeriFlux
res = hcru_hcru
#mettype = site
#metdir = %(inputdata)s/SPRUCE_data/2024_version/plot07
mettype = era5-daymet
metdir = %(inputdata)s/atm/datm7/Daymet_ERA5_TESSFA2/cpl_bypass_full

use_cpl_bypass = True

[biogeochemistry]
nutrients = CNP
nutrient_comp = RD
soil_decomp = CTC

[run_lengths]
nyears_ad = 40 #200
nyears_final = 40 #400
nyears_trans = 40 #165
trans_startyear = 1850

[case_options]
use_nofire = .true.
humhol = .true.
use_humhol = .true.
#pftdynfile = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot07.nc
paramfile =  %(inputdata)s/lnd/clm2/paramdata/clm_params_SPRUCE_20250507_19pfts.nc
obs_zwt_forcing = .false.
use_shrub_moss_shading = .true.
boardwalk_shade_frac = 1.0
boardwalk_light_trans = 0.5

#isotopes
#use_c13 = .true.
#use_c14 = .true.            
#use_c14_bombspike = .true.
#atm_c14_filename =  %(inputdata)s/atm/datm7/CO2/C14input_CMIP6_EXP2CO2_SPRUCE.nc

[postprocessing]
variables = 'NPP_pft','GPP_pft','TOTVEGC_pft','TOTVEGC_ABG_pft','FROOTC_pft','TLAI_pft','QVEGT_pft','QVEGE_pft','LEAFC_pft','AGNPP_pft','BGNPP_pft','CPOOL_pft','PLANT_NDEMAND_pft','PLANT_PDEMAND_pft','TOTSOMC','HR','ER','NEE','GPP','NPP','FSH','QSOIL','QOVER','QDRAI','QFLX_LAT_AQU','ZWT','TSOI','H2OSOI','MR_pft','LEAF_MR_pft','FROOT_MR_pft','BTRAN_pft','QFLX_LAT_AQU_col','ZWT_col','QFROM_UPHILL_col','H2OSFC_col','RAIN','SNOW','LIVESTEM_MR_pft','LIVECROOT_MR_pft'
pfts = 19,20,28,32,49
cols = 0,1,2
frequency = monthly
startyear = 1851 #2016
endyear = 1855 #2021

[parameters]
blower_u0 = 3.0 
vpd_min_moss =  10000.0
vpd_max_moss = 18000.0
vwc_moss_offset = 0.00
#For Warren et al. in prep study on woody respiration acclimation
lwtop_ann = 0.05
flivewd   = 0.3
mr_acclim_warming_frac = 0.0
mr_acclim_spinup_years = 20.0
q10_mr_pft = 1.7
#Dormancy test (introduced by Sulman et al.)
dormant_mr_temp = 273.15
dormant_mr_factor = 0.1
#Source:  Balog et al., 2025  https://doi.org/10.25581/spruce.121/2503934
slatop = 2, 0.00791, 3, 0.02069
leafcn = 2, 81.01, 3, 41.71

[ensemble]



[treatment_options]
#global options to be applied for each treatment case
nyears = 9
startdate_add_co2 = '20160301'
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot07.nc

#Individual treatment cases and their specific options
[treatment1]
name = TAMB
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot07
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot07.nc
add_co2 = 0

[treatment2]
name = T0.00
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot06
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot06.nc
add_co2 = 0

[treatment3]
name = T2.25
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot20
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot20.nc
add_co2 = 0

[treatment4]
name = T4.50
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot13
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot13.nc
add_co2 = 0

[treatment5]
name = T6.75
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot08
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot08.nc
add_co2 = 0

[treatment6]
name = T9.00
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot17
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot17.nc
add_co2 = 0

#[treatment7]
#name = T0.00eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot19
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot19.nc
#add_co2 = 500

#[treatment8]
#name = T2.25eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot11
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot11.nc
#add_co2 = 500

#[treatment9]
#name = T4.50eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot04
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot04.nc
#add_co2 = 500

#[treatment10]
#name = T6.75eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot16
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot16.nc
#add_co2 = 500

#[treatment11]
#name = T9.00eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot10
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot10.nc
#add_co2 = 500


